@-ms-viewport{
    width:device-width
  }
/*------------------------------------*\
    $RESET
\*------------------------------------*/
*, *:before, *:after {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
  }
html,body,div,span,object,iframe,h1,h2,h3,h4,p,address,blockquote,ol,ul,li,form,fieldset,legend,label,table,header,footer,nav,section,figure,img,small {
  margin:0;
  padding:0;
  outline:0 none
  }
ol, ul {
  list-style:none;
  list-style-image:none
  }
article,aside,figcaption,figure,footer,header,hgroup,nav,section,summary{
  display:block
  }
audio,canvas,video {
  display:inline-block
  }
audio:not([controls]) {
  display:none;height:0
}
[hidden] {
  display:none
  }
table {
  border-collapse:collapse;
  border-spacing:0
  }

/*------------------------------------*\
  * $GLOBAL STYLES
\*------------------------------------*/
html,button,span,input,select,textarea,table,tr,th,td,a, h3.header{
    font-family:"Lato", sans-serif
    }
html{
    /* font-size:100%; */
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
    }
html,body{
    height:100%
    }

body:before{
    float:left;
    height:100%;
    width:0;
    margin-top:-32767px;
    content:""
    }
body{
    background:#FFF;
    color:#1A1A1A;
    font:1em/1.4 "Lato", Arial, sans-serif;
    -webkit-font-smoothing:antialiased;
    -webkit-text-shadow:rgba(255,255,255,0.01) 0 0 1px;
    text-rendering:auto
    }
abbr[title] {
  border-bottom:1px dotted
  }

address {
  font-style:normal
  }

/* ul{list-style:none outside none} */

a{
  font-weight:normal;
  text-decoration:none;
  color:#2F77BC;
  margin:0;
  padding:0
  }
a:focus {
  color:#2B6FB0;
  outline:thin dotted
  }
a:link,a:visited{
  font-weight:normal;
  text-decoration:none
  }
/*a:visited{
  color:#93C7F9
  }*/
a:active {
  outline:0
  }

blockquote {
font-family: Georgia, serif;
font-size: 1.15em;
font-style: italic;
width: 330px;
margin: 0.25em 0;
padding: 0.55em 4em 0.35em 3.038em;
line-height: 1.45;
position: relative;
color: #383838;
}

blockquote:before {
display: block;
padding-left: 10px;
content: "\201C";
font-size: 80px;
position: absolute;
left: 12px;
top: -20px;
color: #7a7a7a;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #E9E9E9;
    margin:1em 0;
    padding:0;
    clear:both;
  }

  p {
    margin-bottom: 1.4em
  }

  code{
  font-family:monospace,serif;
  _font-family:'courier new',monospace;
  font-size:1em
  }

q{
  quotes:"\201C" "\201D" "\2018" "\2019"
  }

q:before,q:after{
  content:'';content:none
  }

sub{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
  bottom:-0.25em
  }

.sup:before{
  content: '+';
  position:relative;
  left:-.4em;
  top:-.3em;
  padding:0;
  margin-right: -20px
  }

sup {
    /*color: #FF0000;*/
    font-weight: bold;
}
/*------------------------------------*\
  * $CLASSES/IDS
\*------------------------------------*/
.first {
  margin-left:0 !important;
}

.last {
  margin-right:0 !important;
}

.nomargin{
  margin:0 !important
  }
.nopadding{
  padding:0 !important
  }

.left{
  float:left !important
  }

.right{
  float:right !important
  }

.center {
  margin:0 auto !important
  }

.alignleft{
  text-align:left !important
  }

.alignright{
  text-align:right !important
  }

.aligncenter {
  text-align:center !important
  }

.inline {
    display:inline !important
    }

.inline-block {
    display:inline-block !important
    }

.block {
    display:block !important
    }

.lowercase {
  text-transform:lowercase !important
  }

.largeText {
   font-size: 4em; /* 64px */
   margin-bottom: 0
  }

.mediumlargeText{
  font-size: 3em;
   margin-bottom: .15em
  }

.mediumText {
   font-size: 1.75em !important; /* 28px */
   margin-bottom: 0
  }

.baseText {
  font-size: 1em;
   margin-bottom: 0;
  }

.smallmediumText {
  font-size:1.3em;
}

.nounderline {
  text-decoration: none !important
}

.noborder {
  border: 0 none !important
}

.borderBottom {
  border-bottom:1px solid #C9C9C9;
  padding:5em 0;
}



.clearfix:before,.clearfix:after,.row:before,.row:after {
  content:"";
  display:table
  }

.clearfix:after,.row:after {
  clear:both
  }

html[xmlns] .clearfix, html[xmlns] .row {
  display:block
  }

/* Hide from screenreaders and browsers:h5bp.com/u */
.hidden {
  display:none!important;
  visibility:hidden
  }
/* Hide visually, but available for screenreaders:h5bp.com/v */
.visuallyhidden {
  position:absolute;
  border:0;
  clip:rect(0 0 0 0);
  width:1px;
  height:1px;
  margin:-1px;
  padding:0;
  overflow:hidden
  }
/* Extends .visuallyhidden to allow element focus with keyboard nav:h5bp.com/p */
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
  position:static;
  clip:auto;
  width:auto;
  height:auto;
  margin:0;
  overflow:visible
  }
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility:hidden
  }


/*------------------------------------*\
  * $TYPE
\*------------------------------------*/
h2,
h3,
h4,
h5 {
  font-family:"Lato", Arial, sans-serif;
  color:#1A436A
}
h1,h2,h3,nav ul,.largeText {
    text-rendering:optimizeLegibility
    }

h2,
h3 {
  font-weight:700;
 /* text-shadow:0px 1px 0px rgba(0,0,0,.125), 0px -1px 0px rgba(255,255,255,.25)*/
}
h2 .after,h3 .after {
    position:absolute;
    color:#353535;
    top:0;
    left:0;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,.8)))
}



h1 {
  font-size:2em; /* 32px */
  font-weight:600;
 /* margin-bottom:.67em;*/
   color:#00539F;
  -webkit-font-smoothing:subpixel-antialiased
}
h2,h4,h5,#sidebar h3 {
  color:#00539F;
}
h2 {
  font-size:1.75em; /* 28px*/
}
h3 {
  font-size:1.5em; /* 24px */
  margin-bottom: 0.667em;
}
h4 {
  font-size:1.125em; /* 18px */
  margin-top: 0.67em;
}


#sidebar h3 {
  margin-bottom: 0
}

small,
.small {
  font-size:80%;
  font-weight:normal;
  color:#545454
}

p a{
  line-height:inherit
}

h1,nav ul,.largeText {
  /*text-transform:uppercase;*/
  text-rendering:optimizeLegibility;
  letter-spacing:.05em
  }

#wrapper{
  max-width:1200px;
  width:100%;
  background:#FFF;
  margin: 3em auto;
  overflow: hidden;
  position: relative
  }

  .row {
  display:block;
  max-width:1200px;
  min-width:20em;
  position:relative;
  margin:0 auto;
  clear:both
  }
.udwrap {
  display:block;
 /* width:100%;*/
  max-width:1200px; /*75em;*/
  min-width:20em;
  position:relative;
  margin:0 auto;
  padding: 0 10px;
  clear:both

}
.udwrap .twelvecol {width:100%;float:left}
.last {margin-right:0 !important}
.first {margin-left:0 !important}
.left {float:left}
.right{float:right}


.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
  margin-right:3%;
  float:left;
  min-height:1px
}

.udwrap .onecol {width:5.33333%}
.udwrap .twocol {width:14.66667%}
.udwrap .threecol {width:23%}
.udwrap .fourcol {width:31.33333%}
.udwrap .fivecol {width:39.66667%}
.udwrap .sixcol {width:48.475%}
.udwrap .sixcol.fit-three {width:48%}
.udwrap .sevencol {width:56.33333%}
.udwrap .eightcol {width:64.666667%}
.udwrap .ninecol {width:74%}
.udwrap .tencol {width:81.33333%}
.udwrap .elevencol {width:89.66667%}

#headwrap{
  min-width:220px;
  max-width:71.25em;
  margin:0 auto;
  padding:0 2%
}

#UDnav {
  background: transparent;
  border: 0 none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#udbrand_logo {
  font-size:1px;
  color:#002663;
  margin:0;
  /* clearline theme fix 4/15/14 CL */
  overflow:visible;
}

#sidelinks li {
  display: inline-block
}

#UDSearch {
  margin-bottom: 0;
  margin-top:.5em;
}

#footcont {
  margin-top:.5em;
  margin-bottom: .5em
}

#UDnav ul {
  float:right;
  margin:5px 0 3px;
  padding:0
}

#UDnav li {
  display:inline-block;
  margin-bottom: 0;
   padding:0 10px
}

#searchdiv {
  overflow: hidden;
  padding-right: .5em;
  margin-bottom:0 !important;
}

#UDSearch {
  padding:4px;
  background:#444;
  background:rgba(0,0,0,.2);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  border: none 0
}

form#UDSearch  button.icon-search {
  background-position: 0 6px;
  content: "\00a0";
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,.4) inset,0 1px 0 rgba(255,255,255,.2);
  -moz-box-shadow:0 1px 1px rgba(0,0,0,.4) inset,0 1px 0 rgba(255,255,255,.2);
  box-shadow:0 1px 1px rgba(0,0,0,.4) inset,0 1px 0 rgba(255,255,255,.2)
}

#menudiv {
  margin-top: 4px;
}
#navbtn {
  display: none;
}

/* For image replacement e.g., background img on element */

.ir br {
  display:none
}
.ir {
  display: inline-block;
  background-color:hsla(0,0%,100%,0);
  border:0;
  white-space:nowrap;
  overflow:hidden
}

.ir:before {
  content:"";
  display:block;
  width:0;
  height:150%
}

#UDSearchField{
  font:normal 12px Arial,sans-serif;
  border:0;
  background:#EEE;
  -webkit-border-radius:3px 0 0 3px !important;
  -moz-border-radius:3px 0 0 3px !important;
  border-radius:3px 0 0 3px !important;
  -webkit-appearance:listbox;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
  -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5), 0 0 3px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5), 0 0 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 0 rgba(255, 255, 255, 0.5), 0 0 3px rgba(0, 0, 0, 0.1) inset
}

#UDSearchField:focus {
-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(132, 185, 211, 0.6);
  -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(132, 185, 211, 0.6);
  box-shadow:0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(132, 185, 211, 0.6);
  text-shadow:0 2px 3px rgba(0, 0, 0, 0.1);
  background:#fff;
  outline:0 none;
}

button#search {
  overflow: visible;
  position:relative;
  float:right;
  padding:0;
  margin:0;
  cursor:pointer;
  width: 28px;
  height: 29px;
  background:#EF8200;
  -webkit-border-radius:0 3px 3px 0;
  -moz-border-radius:0 3px 3px 0;
  border-radius:0 3px 3px 0;
  border: 0 none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
button#search:active,
button#search:focus {
  outline:0
}

button#search:before{
  content:'';
  position:absolute;
  border-width:8px 8px 8px 0;
  border-style:solid solid solid none;
  border-color:transparent #EF8200 transparent;
  top:7px;
  left:-7px;
 /* height:15px;*/
}

/*.search button:hover:before {
border-right-color:#003679
}*/

button#search:focus:before,button#search:active:before{
  border-right-color:#EF8200
}

button#search::-moz-focus-inner {
  border:0;
  padding:0
}

#UDSearchField input[type = "search"]::-webkit-search-cancel-button,
#UDSearchField input[type = "search"]::-webkit-search-decoration,
button,
#UDSearchField input[type="search"] {
  -webkit-appearance:none;
  -moz-appearance:none
}


/*------------------------------------*\
  * $MEDIA
\*------------------------------------*/


#udbrand_logo img {
  max-width:100%;
  height:auto;
  width:auto\9;
  border: 0 none;
  padding:0;
  background: none;
  color:#111
}

svg:not(:root) {
  overflow:hidden
}

.icon-search, .icon-map, .icon-people, .icon-az {
  display: inline-block;
  width: 34px;
  height: 34px;
 /* background-image: url('../images/sprites.png') !important;*/
  background-repeat: no-repeat;
  background-image: url('../images/sprites.png');
  background-image: url('../images/sprites.svg'), none !important;
/*   background: url('../img/sprites.png') no-repeat 0px 0px;
background: rgba(0,0,0,0) url('../img/sprites.svg') no-repeat !important;*/
}


#udbrand_header{
  background:#002663;
  color:#FFF;
  width:100%;
  height:auto;
  position: relative !important;
  left:0;
  top: 0 !important;
  border-bottom:3px solid #FFD200;
  margin: 0;
  padding:0;
  /* clearline theme fix 4/15/14 CL */
  overflow:visible;
}

#udbrand_logo {
  font-size:1px;
  color:#002663;
  margin:0;
}

#UDnav li a {
  font-family: Arial, sans-serif !important;
  font-size:.9em;
  font-weight:bold;
  text-decoration:none;
  text-align: center;
  color:#BFE5FC;
  background-color: #002663;
  border: 0 none;
  width:auto;
  height:20px;
  padding:0 10px;
}

#UDnav li a:hover {
  border-bottom: 1px dotted #A4DAFC
}
.footerinfo {
  color:#002263;
}
a[data-dot="firstdot"]:before, span[data-dot="firstdot"]:before {
    content: "";
    margin-left: 0;
    padding-left: 0;
}
a[data-dot="middot"]:before, span[data-dot="middot"]:before {
  content: "• ";
    color:#002633;
}
.footerinfo {
    font-size: 13.8px !important;
    line-height: 1.75 !important;
    margin: 0 !important;
    padding: 0 !important;
}
.footerinfo address {
    display: inline-block;
    font-style: normal !important;
    margin-bottom: 0 !important;
}
.footerinfo a, #udlinks a {
  border-bottom: 1px dotted rgba(26, 67, 106, 0.37);
  color: #1A436A !important;
}
.footerinfo, .footerinfo li {
    list-style-type: none !important;
    margin: 0 !important;
    text-align: left;
}
.footerinfo a:hover, #udlinks a:hover {
  border-bottom: 1px dotted rgba(26, 67, 106, 0.87)
}
#footcont {
    margin-top: 1em !important;
    padding: 0;
    width: 95%;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
/*------------------------------------*\
  * $MEDIA QUERIES
\*------------------------------------*/

@media only screen and (max-width:48.938em){/* 783      767 47.938em */
.row, body, .container {
  width:100%;
  min-width:0;
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0
  }
.row .one.columns, .row .two.columns, .row .three.columns, .row .four.columns, .row .five.columns, .row .six.columns, .row .seven.columns, .row .eight.columns, .row .nine.columns, .row .ten.columns, .row .eleven.columns, .row .twelve.columns{
  width:auto;
  float:none;
  margin-left:0;
  margin-right:0;
  padding-left:20px;
  padding-right:20px
  }
  #headcont, #footcont {
    margin-top: .27em !important;
  }
  #udbrand_logo {
    padding:0;
    margin:0
  }
  #udbrand_logo, .searchpad {
    text-align: left
  }
  #top {
    padding-top: 1em
  }
   #menudiv {
    display: block;
    width:auto;
    height: auto;
    position: relative
  }
  #UDSearch {
  margin: 0;
  width:57%;
  }

  #navbtn {
    display: inline-block;
    position: absolute;
    right:10px;
    text-indent: -99999px;
    overflow: hidden;
    width: 34px;
    height: 24px;
    background-image: url('../img/sprites.png');
    /*background-image: url('../img/sprites.svg'), none !important;*/
    background-repeat: no-repeat;
    background-position: 21.384% 92.684%
  }
  #UDnav {
    display: none;
    position: static;
    top: auto;
    right: auto;
    width: 100%
  }
#UDnav ul {
    margin:0
  }
#UDnav li {
    display: inline-block
  }
#UDnav li a {
    display: inline-block;
    color: #BFE5FC;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    border: none;
    width: 34px;
     height: 34px;
    padding: 4px;
  }
#UDnav li a:hover {
    border-bottom: 0 none !important
  }


button#search {
    background-position: 24% 46%;
    content: " ";
    height: 29px
  }

  #footerdiv {
    width:auto;
  }
  .footerinfo, .footerinfo li, #udlinks{
    text-align: center;
    line-height: inherit
  }
    footer a img{
    display:none
  }
  form {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important
  }
  .icon-phone {
    background-position: -10px -113px;
    content: "\00a0";
    width: 15px
  }
  a.icon-az {
    background-position: -134px -27px
  }
  a.icon-map {
    background-position: -100px -27px
  }
  a.icon-people {
    background-position: -66px -27px
  }
  a.icon-az, a.icon-map, a.icon-people, a.icon-az:hover, a.icon-map:hover, a.icon-people:hover {
    /* some themes have transitions applied to a hover. This overrides it CL 1/5/14 */
    transition: none !important
  }
  a.icon-az:hover {
    background-position: -134px -62px;
    text-decoration: none;
    border: 0 none;
  }
  a.icon-map:hover {
    background-position: -100px -62px;
    text-decoration: none;
    border: 0 none;
  }
  a.icon-people:hover {
    background-position: -66px -62px;
    text-decoration: none;
    border: 0 none;
  }
}

@media only screen and (min-width:49em) {/* 784 */
  #menudiv {
    width: 25% !important;
    float:right !important
  }
  .icon-map, .icon-people, .icon-az {
    background: none !important
  }
}

/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 5/4), only screen and (min-resolution: 144dpi) {/* HiDPI */
  #udbrand_logo img {
    width:50%;
    text-align: left
  }
  .icon-az {
    background-position: -183px -90px
  }
  .icon-map {
    background-position: -135px -89px
  }
  .icon-people {
    background-position: -90px -91px
  }

}

@media only screen and (min-width: 20.063em) and (max-width:29.938em) {/* 321px - 479px */
  body {
    font-size: 90%
  }
  h1 {
    font-size: 1.5em
  }
  #udbrand_header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:0;
    border-bottom:2px solid #FFD200
  }

  .searchpad li a {
    height: 36px;
    padding: 5px;
    width: 40px;
    margin:0
  }
  #udbrand_logo img {
    width:90%;
    text-align: left
  }
  .search {
    width: 53%
  }
  #navbtn {
    float: none;
    position: absolute;
  }
}