@charset "UTF-8";
/* /www/htdocs/modules/solidblueheader-fluid/css/header.css */
div#UDStandardHeader {
width: 100%;
height: 70px;
text-align: left;
font-family: "Arial", Helvetica, Verdana, sans-serif;
background-color: #052165;
background-image: url('../images/solidblueheader-fluid-background.jpg');
background-repeat:no-repeat;
background-position:-90px 20%;
border-bottom: solid #F9D616 4px;
padding: 0px;
margin: 0px;
}
div#UDStandardHeader_LayoutContainer {
width: 96%;
height: 70px;
margin: 0 auto;
}
div#UDStandardHeader_LayoutContainer img {
display: none;
height: 70px;
}
div#UDStandardHeader_LogoStandin {
width: 442px;
height: 64px;
float: left;
margin: 0px;
cursor:pointer;
}
div#UDStandardHeader_Toolbar {
width: 320px;
height: 64px;
margin: 0px;
float: right;
}
div#UDStandardHeader_GSA {
width: 100%;
height: 24px;
margin: 0px;
margin-top: 12px;
padding: 0px;
}
div#UDStandardHeader_GSA form{
margin:0;
padding:0;
}
input#UDSearchButton {
float: right;
height: 24px;
margin: 1px 0px 0px 2px;
}
input#UDSearchField {
font-family: "Arial", Helvetica, Verdana, sans-serif;
font-size:11px;
height: 12px;
margin: 4px 0 0 0;
float:right;
padding:2px 5px 3px 5px;
border: 1px solid #060c56;
outline-style: none;
}
div#UDStandardHeader_MenuTier {
width: 100%;
height: 16px;
margin: 0px;
margin-top: 3px;
padding: 0px;
color: #67AEFF;
font-size: 11px;
font-weight: bold;
text-align: right;
}
div#UDStandardHeader_MenuTier a {
color: #67AEFF;
text-decoration: none;
}
div#UDStandardHeader_MenuTier a:hover {
color: white;
text-decoration: underline;
}
ul#UDStandardHeader_MenuList {
float: right;
width:100%;
margin: 0px;
padding: 0px;
list-style-type: none;
text-align: right;
white-space: nowrap;
}
ul#UDStandardHeader_MenuList:hover {
position: relative;
}
ul#UDStandardHeader_MenuList li {
float: right;
padding: 0 7px;
}
ul#UDStandardHeader_MenuList li.withsep {
border-left: 1px solid #67aeff;
}
ul#UDStandardHeader_MenuList li.withsep2 {
border-left: 1px solid #67aeff;
margin-right:-6px;
}
ul#UDStandardHeader_MenuList li ul.submenu {
width: 390px;
padding: 0px;
position: absolute;
top: 12px;
right: 0px;
display: none;
list-style-type: none;
text-align: right;
white-space: nowrap;
}
ul#UDStandardHeader_MenuList li.hover ul.submenu,
ul#UDStandardHeader_MenuList li:hover ul.submenu {
display: block;
}
ul#UDStandardHeader_MenuList li ul.submenu li {
float: right;
padding: 2px;
padding-top: 2px;
}
ul#UDStandardHeader_MenuList li ul.submenu li.withspace {
margin-left: 10px;
}
ul#UDStandardHeader_MenuList li ul.submenu a:hover,
ul#UDStandardHeader_MenuList li ul.submenu li:hover {
color: #060c56;
background-color: white;
text-decoration: none;
}
@media print {
div#UDStandardHeader_Toolbar {
display: none;
}
div#UDStandardHeader_LayoutContainer img {
display: inline;
}
}

/* /www/htdocs/modules/base/css/base.css */
body {
margin: 0px;
padding: 0px;
}
div.UDJavascriptWarning {
width: 100%;
margin: 0px;
padding: 20px;
font: bold  16px "Arial", Helvetica, Verdana, sans-serif;
color: #060c56;
}

/* /www/htdocs/modules/content-fluid/css/content.css */
div#UDBasicContent {
width: 100%;
margin: 32px 0px;
}
div#UDBasicContentLayout {
width: 96%;
margin: 0 auto;
font-family: "Arial", Helvetica, Verdana, sans-serif;
}

/* /www/htdocs/modules/footer-fluid/css/footer.css */
div#UDStandardFooter {
width: 100%;
margin: 0px;
text-align: left;
font-size: 12px;
display: block;
color: #060C56;
}
div#UDStandardFooter_LayoutContainer {
width: 96%;
margin: 0 auto;
border-top: 8px solid #060c56;
font-family: "Arial", Helvetica, Verdana, sans-serif;
padding:0 10px;
}
div#UDStandardFooter img#UDStandardFooter_Logo {
float: right;
margin: 10px;
}
div#UDStandardFooter ul#UDStandardFooter_Address {
width:550px;
font-family: "Arial", Helvetica, Verdana, sans-serif;
list-style-type: none;
float: left;
margin: 16px 0 4px 0px;
clear: left;
padding: 0px;
line-height: 1.2em;
}
div#UDStandardFooter ul#UDStandardFooter_Address li {
font-family: "Arial", Helvetica, Verdana, sans-serif;
float: left;
padding: 0px 10px;
margin: 0px 0px 0px 0px;
list-style-type: none;
list-style-image: none;
}
div#UDStandardFooter ul#UDStandardFooter_Address li a {
font-weight: bold;
text-decoration: none;
color: #060C56;
}
div#UDStandardFooter ul#UDStandardFooter_Address li a:hover, div#UDStandardFooter ul#UDStandardFooter_Address li a.selected {
color: #255DD3;
text-decoration: underline;
border: 0px;
}
div#UDStandardFooter ul#UDStandardFooter_Links {
width:550px;
font-family: "Arial", Helvetica, Verdana, sans-serif;
list-style-type: none;
float: left;
margin: 0px 0 4px 0px;
clear: left;
padding: 0px 0px 0px 0px;
line-height: 1.3em;
}
div#UDStandardFooter ul#UDStandardFooter_Links li {
float: left;
font-family: "Arial", Helvetica, Verdana, sans-serif;
padding: 0px 10px;
margin: 0px 0px 0px 0px;
list-style-type: none;
list-style-image: none;
}
div#UDStandardFooter ul#UDStandardFooter_Links li a {
font-weight: bold;
font-family: "Arial", Helvetica, Verdana, sans-serif;
text-decoration: none;
color: #060C56;
}
div#UDStandardFooter ul#UDStandardFooter_Links li a:hover, div#UDStandardFooter ul#UDStandardFooter_Links li a.selected {
color: #255DD3;
text-decoration: underline;
border: 0px;
}
div#UDStandardFooter ul#UDStandardFooter_Links li.withsep {
border-right: 1px solid #060c56;
margin: 0px 0px 0px 0px;
}
.udclearfloat { 
clear:both;
height:0;
font-size: 1px;
line-height: 0px;
}
@media print {
div#UDStandardFooter {
border: none;
}
div#UDStandardFooter img#UDStandardFooter_Logo {
display: none;
}
}

