#exitlinks {
    margin-top:.8em;
    padding:0;
    text-align: center
}
#exitlinks li {
  display: inline-block;
  list-style: none inside none !important;
  margin: 0;
}
#exitlinks li, #exitlinks li a {
  font-weight: bold !important
}
#exitlinks li:first-child {
  border-left: none 0;
}

.license_box {
  float:none !important;
  width:100% !important;
  background:rgba(238, 232, 197, 0.53);
  text-align:center;
  padding:2rem
}




/*------------------------------------*\
  * $TYPE
\*------------------------------------*/





#sidebar h3 {
    margin-top: 10px !important;
    font-size: 1.3em !important;
}
#sidebar h3 + p, #sidebar p + p{
  margin: 1em 0;
}
h2, .entry h2.title {
  font-size:1.75em; /* 28px*/
}


.widget li:before {
    content: "" !important;
}


.widget li, .footer-widget li {
    background: none !important;
    font-size: 1em !important;
    font-weight: normal !important;
    padding: 0 !important;
    margin:0 !important;
    text-indent: 0 !important
}


.widget li a, .footer-widget li a {
    color: #00A0DF;
    text-decoration: none;
}

.swtitle h2,  .swtitle h3 {
  color:#767676;
}

.swtitle h2,  .swtitle h3 {
  font-weight:400;
}

.desc h2 {
  line-height: 1.333;
  font-weight:300;
  color:#DFDFDF;
}

.swdiv h4 {
    text-align: center;
}

#top-menu a:hover {
    border-bottom: 0 none;
}
#top-menu a, a.mobile_nav {
    color: #2F77BC;
    display: block;
    font-size: 1.2em;
    text-shadow: none
}
#top-menu  li li a, a.mobile_nav{
  color:#FFF;
  font-size:.8em;
}





button span[data-icon]:before,.button span[data-icon]:before{
    line-height:1.7;
    color:#FFF;
    padding-right:.5em;
    }


[data-icon].foot-icon:before {
  font-size:.76em;
  color:rgba(147,199,249,.6);
  padding-left:3px
  }






h2.header {
  text-align: left;
  /*color:#245E93 !important; */
  }


h3.header {
    margin: -.7em 0 .75em;
    color:#9E9E9E;
  }



/* Theme Name:Brad Frost Web V5 */
/*------------------------------------*\
    TABLE OF CONTENTS https:/github.com/csswizardry/CSS-Guidelines
\*------------------------------------*/
/**
 * RESET.....................CSS Reset
 * GLOBAL STYLES.............Global Element Styles
 * CLASSES...................Global/Generic Classes
 * TYPE......................Type Specific Styles
 * LAYOUT....................Layout-specific Style
 * STRUCTURE.................Site structure (header, nav, etc)
 * MEDIA.....................Images, Video, iFrames and more
 * FORMS.....................Form Styles
 * TABLES....................Tables style
 */




















/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/




.row, .container{
  display:block;
  max-width:1200px;
  min-width:20em;
  position:relative;
  margin:0 auto;
  padding:0 .625em; /* 10px */
  clear:both
  }
#theme_nav {
  background: #59625C;

}
#main-header {
/*height:293px;*/
background: #00539F;
    background: -moz-radial-gradient(71% 19%, ellipse cover, #00A0DF 0%, #00539F 100%) !important; /* ff3.6+ */
    background: -webkit-radial-gradient(71% 19%, ellipse cover, #00A0DF 0%, #00539F 100%) !important; /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(71% 19%, ellipse cover, #00A0DF 0%, #00539F 100%) !important; /* opera 11.10+ */
    background: -ms-radial-gradient(71% 19%, ellipse cover, #00A0DF 0%, #00539F 100%) !important; /* ie10+ */
    background: radial-gradient(71% 19%, ellipse cover, #00A0DF 0%, #00539F 100%) !important; /* w3c */

   /* background: #0066AA;
    background: -moz-radial-gradient(71% 19%, ellipse cover, #3F88CC 0%, #0066aa 100%);
    background: -webkit-radial-gradient(71% 19%, ellipse cover, #3F88CC 0%, #0066aa 100%);
    background: -o-radial-gradient(71% 19%, ellipse cover, #3F88CC 0%, #0066aa 100%);
    background: -ms-radial-gradient(71% 19%, ellipse cover, #3F88CC 0%, #0066aa 100%);
    background: radial-gradient(71% 19%, ellipse cover, #3F88CC 0%, #0066aa 100%);*/

}
#logo {
  padding:0
}

.home #page-name {
    display: none;
    visibility: hidden;
}

#top-area {
    padding: 25px 0;
}

/*
* http://red-team-design.com/wp-content/uploads/2012/01/css3-breadcrumbs-demo.html
*/

#crumbs_box {
    overflow: hidden;
    width: 100%;
}
#crumbs_box li {
  float: left;
    margin: 0 2em 0 0;
}

#crumbs_box a:after {
    background:  #F5F5F5;
    -webkit-border-radius: .4em;
     -moz-border-radius: .4em;
      border-radius: .4em;
    content: "";
    height: 2.5em;
    margin-top: -1.25em;
    position: absolute;
    right: -1em;
    top: 50%;
     -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:         rotate(45deg);

    width: 2.5em;
    z-index: -1;
}
td.nothing_sub {
  border:none;
}
.custom-search.nothing_sub input[type="submit"]{
    -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}
.custom-search input[type="submit"] {
  display: inline-block;
  background-color: #EF8200;
  color:#FFF;
 text-shadow: 1px 1px rgba(0,0,0,0.2);
    position: relative;
    top: 40%;
    padding:3px;
    -webkit-border-radius: 0 20px 20px 0;
-moz-border-radius: 0 20px 20px 0;
border-radius: 0 20px 20px 0;
  border: 1px solid rgba(0,0,0,0.4) ;
  cursor: pointer;
}

.et_color_scheme_blue ul.nav > li.current-menu-item > a, .et_color_scheme_blue a.mobile_nav, .et_color_scheme_blue ul.nav li ul, .et_color_scheme_blue .et_mobile_menu {
    background: none repeat scroll 0 0 rgba(50, 125, 169, 0.5);
    border: 1px solid rgba(50, 125, 169, 0.25);
}


.alert-box {
  width:52%;
    color:#555;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
    padding:10px 10px 10px 36px;
    margin:10px auto;
    text-align: left
}
.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}
.warning {
    background:#fff8c4 url('../img/warning.png') no-repeat 10px 18px;
    border:1px solid #f2c779;
}
input[name="wpv_post_search"] {
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
  padding: 4px 0;
}
input[name="wpv_post_search"]:focus {
background: #FFF;
border:none;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(132, 185, 211, 0.6);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(132, 185, 211, 0.6);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(132, 185, 211, 0.6);
    outline: 0 none;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
     padding: 5px 0 5px 10px;
  }

#crumbs_box a {
 padding: .7em 1em .7em 2em;
    -webkit-border-radius: .4em 0 0 .4em;
    -moz-border-radius: .4em 0 0 .4em;
    border-radius: .4em 0 0 .4em;
    }
#crumbs_box a, #crumbs_box span {
    background: none repeat scroll 0 0 #F5F5F5;
    color: #444444;
    float: left;

    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    z-index: 1;
}

#crumbs_box span {
 padding: .7em 2em;
    -webkit-border-radius: .4em ;
    -moz-border-radius: .4em ;
    border-radius: .4em ;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;

  border-left: 5px solid #CCC;
}

#top-menu a:hover:after {
  content: "";
  position: absolute;
  top: 35px;
  left: 50%;
  margin-left: -15px; /* <-- moves it back half it's own width */
  width: 0;
  height: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #AAD4FF;
}
.et_color_scheme_blue ul.nav > li.current-menu-item > a, .et_color_scheme_blue a.mobile_nav, .et_color_scheme_blue ul.nav li ul, .et_color_scheme_blue .et_mobile_menu {
background: none;
border: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
  }
.entry {
    float: left;
    margin-bottom: 80px;
    margin-right: 0;
    width: 100%;
}
.post-title {
  text-align:  left
}

.post_content h1 {
/*    font-size: 45px;*/
    font-weight: normal;
    padding: 0;
    margin-bottom: .5em
}
.post_content + h1 + p {
  height:1px !important;
}
ul.nav li ul a {
    width: 130px;
}
ul.nav li ul, .et_mobile_menu {
  background: #0066AA;
    width: 537px;
    padding: 15px 0 15px 15px;
}
.column, .columns {

  float: left;
  margin-left: 1.81818%;
  min-height: 1px;
}
.column, .columns:first-child {
  margin-left: 0;
}
.columns {
  margin-bottom: 10px;
  min-height: 38px
}
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
  margin-right:3%;
  float:left;
  min-height:1px
}

.udwrap .onecol {width:5.33333%}
.udwrap .twocol {width:14.66667%}
.udwrap .threecol {width:23%}
.udwrap .fourcol {width:31.33333%}
.udwrap .fivecol {width:39.66667%}
.udwrap .sixcol {width:48.475%}
.udwrap .sixcol.fit-three {width:48%}
.udwrap .sevencol {width:56.33333%}
.udwrap .eightcol {width:64.666667%}
.udwrap .ninecol {width:74%}
.udwrap .tencol {width:81.33333%}
.udwrap .elevencol {width:89.66667%}

.row .one.column {width:6.66667%}
.row .one.columns {width:6.66667%}
.row .two.columns {width:15.15152%}
.row .three.columns {width:23.63636%}
.row .four.columns {width:32.12121%}
.row .five.columns {width:40.60606%}
.row .six.columns {width:49.09091%}
.row .seven.columns {width:57.57576%}
.row .eight.columns {width:66.06061%}
.row .nine.columns {width:74.54545%}
.row .ten.columns {width:83.0303%}
.row .eleven.columns {width:91.51515%}
.row .twelve.columns {width:100%}

#main {
  overflow:hidden;
  width:94%;
  min-height:100%;
  margin:0 auto;
  padding:3%;
  background:rgb(255,255,255)
  }


.swdesc {
  font-size: 80%;
  background-color: rgba(255,255,255,0.5);
  padding: 10px;
  position: absolute;
  bottom: -193px;
  min-height:45px;
    -webkit-border-radius: 3.625em; /* 10px */
  -moz-border-radius: 3.625em;
  border-radius: 3.625em;
-webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
  transition: all 0.5s ease;

}
.attachment-thumbnail.wp-post-image {
    margin-right: 5px;
    width: 10%;
}
.responsive li {
  margin:0 !important;
  padding:0 !important;
  text-indent:  .9em !important;
}
.responsive li a {
    margin-bottom: 0 !important;
    padding-left: 0;
}
.note {
  background-color: #F6F6CC;
    border: 1px solid #C9CFC9;
    margin: 10px 0;
    padding: 0.384615em;
}



.swdiv {
    cursor: pointer;
    position: relative;
    overflow: hidden;
     height: 145px;
     margin-bottom: 3.125em;
}
.swdiv img {
  color:#FFF
}
.swdiv a {
  text-align: center !important;
}
.swdesc h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.swdiv:hover .swdesc {
  background-color: rgba(0, 0, 0, .79);
  color:#FFF;
  bottom: 0
}

h3.normal{
  color:#444;
  font-weight: normal
}



input#UDSearchField {
  width:87% !important;
  height:25px !important;
  padding: 0 6px !important;

}

input[type="search"]#UDSearchField:hover {
  background-color: #EEE !important
}

button#search {
    height: 26px !important;
    top:-25px;
  }

.udwrap {
  display:block;
 /* width:100%;*/
  max-width:1200px; /*75em;*/
  min-width:20em;
  position:relative;
  margin:0 auto;
  padding: 0 10px;
  clear:both
}

.widget h4.widgettitle {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size: 1.38em;
  text-align: center;
  padding: 22px;
  font-weight: normal
}

#headwrap{
  min-width:220px;
  max-width:71.25em;
  margin:0 auto;
  padding:0 2%
}

#UDnav {
  background: transparent;
  border: 0 none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#searchdiv {
  padding-right: 0 !important;
}

#UDSearch {
margin:0 !important;
height:35px;
}





/*------------------------------------*\
  * $MEDIA
\*------------------------------------*/
img,a img {
  border:0;
  vertical-align:middle
  }
img,a img,h1#logo img, figure img {
  max-width:100%;
  height:auto;
  width:auto\9
  }
svg:not(:root) {
  overflow:hidden
  }

#udbrand_logo img {
  max-width:100%;
  height:auto;
  width:auto\9;
  border: 0 none;
  padding:0;
  background: none;
  color:#111
}


svg:not(:root) {
  overflow:hidden
}


/*------------------------------------*\
    $SITE STRUCTURE
\*------------------------------------*/
#content-area {
    padding:  0 !important
}
 header[role='banner'] {
  width:100%;
  margin:auto;
  position:fixed;
  top:0;
  left:0;
  z-index:10000;
  overflow:hidden;

  }

#left-area p:empty {
    display: none;
    visibility: hidden;
}
  .et-fixed-header {
    max-height: 120px !important;
    padding: 10px 0 0 !important;
}

.nav li a {
  background:hsla(0,0%,100%,0) !important;
  }

nav .wrap {
  text-align:left
  }




/*------------------------------------*\
    $TABLES
\*------------------------------------*/


table td, table th {
  padding:9px 10px;
  text-align:left
}
td ul li {
  display:inline-block
  }
td ul li a {
  padding:3px 20px 2px 20px
  }
thead th {
    background: none repeat scroll 0 0 #61B3F8;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    width:25%;
}
tr:last-child {
  padding-bottom:2em
  }
tr:nth-child(even) {
  background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background:-moz-linear-gradient(top,#FAFAFA 0,#F7F7F7 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FAFAFA),color-stop(100%,#F7F7F7));
background:-webkit-linear-gradient(top,#FAFAFA 0,#F7F7F7 100%);
background:-o-linear-gradient(top,#FAFAFA 0,#F7F7F7 100%);
background:-ms-linear-gradient(top,#FAFAFA 0,#F7F7F7 100%);
background:linear-gradient(top,#FAFAFA 0,#F7F7F7 100%)
    color: #ffffff;
    background-color: #CCC;
  }
tr:nth-child(1) {
  background:rgb(255,255,255)
  }
td {
  text-align:left
  }
  td:not(:first-child){
    font-size: 90%
  }
td, thead th {
  border:1px solid #F1F1F1;
  padding:.14em
  }
th:first-child {
    width: 30%;
}

table.dataTable thead .sorting {
  background: #61B3F8 url("../images/sort_both.png") no-repeat center right;
  cursor: pointer;
}
table.dataTable thead .sorting_asc {
  background: #61B3F8 url("../images/sort_asc.png") no-repeat center right;
   cursor: pointer;
}
table.dataTable thead .sorting_desc {
  background: #61B3F8 url("../images/sort_desc.png") no-repeat center right;
   cursor: pointer;
}
table.dataTable thead .sorting_asc_disabled {
  background: #61B3F8 url("../images/sort_asc_disabled.png") no-repeat center right;
   cursor: pointer;
}
table.dataTable thead .sorting_desc_disabled {
  background: #61B3F8 url("../images/sort_desc_disabled.png") no-repeat center right;
   cursor: pointer;
}
.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 0.755em;
}
.dataTables_wrapper .dataTables_paginate {
    float: right;
    padding-top: 0.25em;
    text-align: right;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkY2RjZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #ffffff 0%, #dcdcdc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dcdcdc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#dcdcdc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#dcdcdc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#dcdcdc 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#dcdcdc 100%); /* W3C */
    border: 1px solid #CACACA;
    color: #333333 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkY2RjZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #ffffff 0%, #dcdcdc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dcdcdc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#dcdcdc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#dcdcdc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#dcdcdc 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#dcdcdc 100%); /* W3C */
    border: 1px solid #CACACA;
    color: #333333 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    background: none;
    border: 1px solid #000;
        -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #666666 !important;
    cursor: default;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 1px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: #333333 !important;
    cursor: pointer;
    display: inline-block;
    margin-left: 2px;
    min-width: 1.5em;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 1px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: #333333 !important;
    cursor: pointer;
    display: inline-block;
    margin-left: 2px;
    min-width: 1.5em;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none !important;
}
.select select {
  width:210px;
}
.select td {
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    border-radius: 0 0 20px 20px;
}
.select thead th {
  background:  none;
    color: #1A1A1A;
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 0px;
    text-align: center;
    text-shadow:none;
    margin-bottom: 0 !important;
    border-bottom: none;
}
.nothing {
  border:none !important;
}

/*------------------------------------*\
    $MEDIA QUERIES
\*------------------------------------*/
@media only screen and (max-width:47.938em) {/* 767 */

.row, body, .container {
  width:100%;
  min-width:0;
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0
  }
.row .one.columns, .row .two.columns, .row .three.columns, .row .four.columns, .row .five.columns, .row .six.columns, .row .seven.columns, .row .eight.columns, .row .nine.columns, .row .ten.columns, .row .eleven.columns, .row .twelve.columns{
  width:auto;
  float:none;
  margin-left:0;
  margin-right:0;
  padding-left:20px;
  padding-right:20px
  }
  #mobile_links {
    padding:0;
  }
  .et_mobile_menu {
    left:0;
  }
}


/* safari and chrome hacks */
@media only screen and (-webkit-min-device-pixel-ratio:0) {
  form{
    height:31px !important
  }
  input[type="search"]{
    -webkit-appearance:listbox !important;
    margin:0 !important
  }
  input[type="search"]::-webkit-search-decoration{
    -webkit-appearance:none
  }
}

/* override parent and make width 1200px instead of 960px */
.container, #featured.flexslider .slides  { width: 100% !important}
#content-area:before { left: 980px;}
    #left-area {margin-right: 20px; width: 75%; }
    #sidebar {width:23%}

/*@media only screen and ( max-width: 1200px ) {
  #et-search, p#et-search-title, p#et-search-title span { background: none !important; }
  #et-search { width: auto !important; height: auto !important; }
    #et-search-inner { padding: 0 !important; }
      #et-search-right { float: none !important; clear: both; text-align: left !important; }
        #et_search_submit { background: #BBB8B8 !important; color: #111 !important; }
      p#et-search-title { margin-bottom: 2px !important; }
        p#et-search-title span { padding: 0 !important; text-shadow: none !important; }
  #et-searchinput { width: auto !important; }
  p#et_choose_posts, p#et_choose_pages, p#et_choose_date, p#et_choose_cat { float: none !important; }
  #et-search-left { float: none !important; width: 100% !important; }
}*/

/*@media only screen and ( min-width: 768px ) and ( max-width: 1200px ) {
  .container, #featured.flexslider .slides { width: 728px; }
    #featured h2 { font-size: 60px; }
      #featured .description { font-size: 30px; }
    .service { width: 200px; margin-right: 63px; }
      .service h3 { font-size: 18px; }
    .section-title h2 { font-size: 60px; padding-bottom: 15px; }
    .section-title .section-subtitle { font-size: 30px; }
  #home-section-news, #home-section-projects { padding: 120px 0; }
    .blog-post { margin: 0 45px 60px 0; width: 212px; }
      .blog-post h3 { font-size: 18px; }
    .portfolio-image { margin-right: 54px !important; }
    .post-thumbnail.portfolio-image { margin-right: 0 !important; margin-left: 55px; }
      .portfolio-image img  { width: 204px; }
      .post-thumbnail.portfolio-image img { width: auto; }
    .portfolio_info_top { left: 45px; top: 50px; }
      .portfolio_info_top h3.title { font-size: 14px; }
      .portfolio_description > a { bottom: 24px; left: 52px; }
    .section-title h2, #page-name h1 { font-size: 60px; }
    .section-title .section-subtitle, .main_post_info { font-size: 30px; }
    #content-area:before { left: 459px; }
      #left-area { width: 379px; }
        .entry { margin-right: 0; width: auto; }
  #main-footer { padding-top: 97px; }
    .footer-widget { margin-right: 58px; width: 204px; }
  .et_page_icon { left: 83px; }*/




  #top-area { padding-bottom: 50px; }
  #featured .description { padding-bottom: 24px; }

  .portfolio_info_top { display: none !important;}
}
@media only screen and (max-width:47.938em) {/* 767 */
  body {
    font-size:90%;
  }
.row, body, .container {
  width:100%;
  min-width:0;
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0
  }
.row .one.columns, .row .two.columns, .row .three.columns, .row .four.columns, .row .five.columns, .row .six.columns, .row .seven.columns, .row .eight.columns, .row .nine.columns, .row .ten.columns, .row .eleven.columns, .row .twelve.columns, #main-area{
  width:auto;
  float:none;
  margin-left:0;
  margin-right:0;
  padding-left:20px;
  padding-right:20px
  }
  a.mobile_nav, .et_mobile_menu {
    background:#333 !important;
    border: none !important;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .et_mobile_menu {
    width:100%;
    background: #555 !important;
      font-size:1.25em !important;
      text-align: center;
      top:35px;
        padding:0 !important;
      }
      .et_mobile_menu li{
         margin: 0;
    padding: 10px 0;
      }
    .et_mobile_menu li:hover {
      background:#002663;
    }
        .et_mobile_menu a:hover {
      text-decoration: none  !important;
      border-bottom: 0 none !important
    }
  .row.full .twelve.columns{
    padding:0 !important;
  }

  #top-area {
    margin-bottom:0 !important;
  }
  }